DEPLOY_HOST=ftp.syncstats.com
DEPLOY_USER=CHANGER_MOI
DEPLOY_PASSWORD=CHANGER_MOI

# ftps (recommande) ou ftp
DEPLOY_PROTOCOL=ftps
DEPLOY_PORT=21
DEPLOY_REMOTE_DIR=/public_html

# true/false
DEPLOY_SSL_VERIFY=true
DEPLOY_DELETE=false
DEPLOY_PARALLEL=2

# controlled (ultra-safe, perimetre cible) ou full (miroir complet)
DEPLOY_MODE=controlled
