lookatthis/
phpMyAdmin-old/
.metadata/
lookatthis
/**/*.suo
/**/slnx.sqlite
/.vs/VSWorkspaceState.json
backUp

/*/error_log
scriptserveur/syncsta1_900.sql
scriptserveur/man
backUp

/*/error_log
scriptserveur/syncsta1_900.sql
scriptserveur/man
scriptsphp/defenvvar.php
/*/*php_error_log
