lookatthis/
phpMyAdmin-old/
.metadata/
lookatthis
/**/*.suo
/**/slnx.sqlite
/.vs/VSWorkspaceState.json
backUp

/*/error_log
scriptserveur/syncsta1_900.sql
scriptserveur/man
backUp

/*/error_log
scriptserveur/syncsta1_900.sql
scriptserveur/man
>>>>>>>>> Temporary merge branch 2
/*/*php_error_log
/*/error_log*
/*/*.bak
/*/error_log
