/* line 6, ../sass/marche.scss */
li {
  list-style: none;
  -moz-box-shadow: 2px 2px 1px 1px #333333;
  box-shadow: 2px 2px 1px 1px #333333;
  border: 1px #555 solid;
  padding: 15px;
  margin: 5px;
}

/* line 16, ../sass/marche.scss */
form input.ng-valid.ng-touched {
  background-color: green;
}

/* line 19, ../sass/marche.scss */
form input.ng-invalid.ng-touched {
  background-color: red;
}

/* line 25, ../sass/marche.scss */
.angular-lightbox.hidden {
  display: none;
}
/* line 29, ../sass/marche.scss */
.angular-lightbox section {
  position: fixed;
  z-index: 100065;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 38, ../sass/marche.scss */
.angular-lightbox section > article {
  color: white;
}
/* line 42, ../sass/marche.scss */
.angular-lightbox section > article > header a.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 3em;
  cursor: pointer;
  color: #DDD;
}
/* line 50, ../sass/marche.scss */
.angular-lightbox section > article > header a.close-btn:hover, .angular-lightbox section > article > header a.close-btn:focus {
  color: white;
}
/* line 56, ../sass/marche.scss */
.angular-lightbox section > article > content {
  margin: 0 auto;
  height: 50%;
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
  /*  @media screen and (min-width: $maxWidthContent) {
     width: $maxWidthContent;
   } */
}
/* line 64, ../sass/marche.scss */
.angular-lightbox section > article > content > iframe {
  max-width: 900px;
  margin: 0 auto;
}
