<form name="formarbitre" ng-init="job.contexte2='cherche'" novalidate>
    <p>
        Montant:
        <input type="text" name="montant"  ng-model="job.montantOffert" />
    </p>
        <div ng-show="formarbitre.$submitted || formarbitre.id.$touched">
        <div ng-show="formarbitre.montant.$error.required">
            ID absent
        </div>
    </div>
    <p>
        Id:
        <input type="text" name="id" ng-model="job.userId" required/>
    </p>
    <div ng-show="formarbitre.$submitted || formarbitre.id.$touched">
        <div ng-show="formarbitre.id.$error.required">
            ID absent
        </div>
    </div>
    <select ng-model="job.contexte2" ng-options=" x for x in contexte2" >
        <!--option ng-repeat="x in positions" value="{{x.id}}">{{x.intitule}}</option-->

    </select>
    
    <p>
        <input type="submit" ng-click="ajouterOffre(job)">
        </input>
    </p>

</form>