<div ng-init="detailsArbitre()">
    <h2>Offre no {{arbitre.id}}</h2>
    
     <div>No d'usager: {{arbitre.userId}} - {{arbitre.nom}}  - montant demandé: {{arbitre.montantOffert}}</div>
        <h3>Requis</h3>
        <ul ng-repeat="mRequis in requis | requisfiltre:arbitre.requis">
            <li>
                <!--div>{{getTitreRequis({rId:y.requisId})}}</div-->
                <div>{{mRequis}}</div>

            </li>
       </ul>
       <h3>Arenas</h3>
        <ul ng-repeat="mArenas in arenas | arenafiltre:arbitre.arenaId">
            <li>
                <!--div>{{getTitreRequis({rId:y.requisId})}}</div-->
                <div>{{mArenas}}</div>

            </li>
       </ul>
        <button ng-click="postuler()">Postuler</button>
       
    
</div>